.note{
    background-color: lightyellow;
    border: 1px solid black;
    width: 200px;
    border-radius: 5px;
    height: fit-content;
    color:black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    cursor: move;
}